* {
    box-sizing: border-box;
}
body {
    background: #92bde7;
    color: #485e74;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5em;
    padding-bottom: 3em;
    display: grid;
    grid-template-areas: 
    "possession"
    "timer"
    "blinds";
      
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -70px;
}

.instructions-title {
    font-size: 58px;
    margin-top: 0;
}

.instructions-text {
    margin-top: -20px;
    text-align: center;
    line-height: 1.6;
}

.possession {
    grid-area: 'possession';
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
}
.player {
    font-size: 20px;
}
.player > * {
    text-align: center;
}
.player-name {
    display: none;
}
.player-input {
    padding: 1em;
    border-bottom: 3px solid #485e74;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 30px;
    text-align: center;
    background: #92bde7;
    color: #485e74;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #485e74;
    opacity: 1; /* Firefox */
}
.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa {
    color: #485e74;
    font-size: 32px;
}
.hidden {
    color: #92bde7;
}
.timer {
    grid-area: 'timer';
    text-align: center;
}
.timer > p {
    display: inline;
    font-size: 22px;
}
.display__time-left {
    font-size: 100px;
    margin-top: -2rem;
}
#time-input,
#blind-input,
#cap-input {
    padding: .5em;
    border: 2px solid #485e74;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
#submit-time-change {
    padding: 1em;
    border: 2px solid #485e74;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background: #FFF;
    width: 200px;
    cursor: pointer;
    color: #485e74;
}
.start-stop {
    margin-top: -4rem;
    margin-bottom: 1rem;
}
.start-stop > * {
    padding: 1em;
    border: 2px solid #485e74;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    background-color: #FFF;
    width: 200px;
    font-weight: bold;
    color: #485e74;
    cursor: pointer;
    transition: all .8s; 
}

.start-stop > *:hover {
    background-color: #485e74;
    color: #FFF;
}

.start-stop > * > i {
    color: inherit;
}

#increment {
    font-size: 18px;
    font-weight: bold;
}
.blinds {
    grid-area: 'blinds';
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2rem;
}
.blinds > * {
    text-align: center;
}
.blind-amount {
    font-size: 40px;
    margin-top: 1rem;
}
.rick-roll-hidden {
    display: none;
}
.rick-roll-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

